<div class="row">
    <table class="table table-bordered">
       <thead>
          <tr>
             <th>Student-Id</th>
             <th>Student-FirstName</th>
             <th>Update/Delete</th>
          </tr>
       </thead>
       <tbody>
    
          <tr *ngFor='let studentinfo of studentData; let idx = index'>
             <td>{{idx}}{{studentinfo.id}}</td>
             <td [ngClass]="{'bold':isChangeQty}">{{studentinfo.firstName}}</td>
             <td colspan="5" class="updateData">        
                <span [routerLink] ="['/update',studentinfo.id]" routerLinkActive="active"  
                id="{{idx+1}}updateData">Update</span>
                <span  class="deleteData" (click)="deleteStudentDetails(studentinfo.id)" 
                id="{{idx+1}}deleteData">Delete</span>
             </td>
          </tr>
       </tbody>
    </table>
    </div>