<div class="row">
    <table class="table table-bordered">
       <thead>
          <tr>
             <th>Id</th>
             <th>FirstName</th>
             <th>Update / Delete</th>
          </tr>
       </thead>
       <tbody>  
          <tr *ngFor='let user of userData; let idx = index'>
             <td>{{user.id}}</td>
             <td [ngClass]="{'bold':isChangeQty}">{{user.firstName}}</td>
             <td colspan="5" class="updateData">        
                <span [routerLink] ="['/update',user.id]" routerLinkActive="active"  
                id="{{idx+1}}updateData">Update</span>
                <span  class="deleteData" (click)="deleteStudentDetails(user.id)" 
                id="{{idx+1}}deleteData">Delete</span>
             </td>
          </tr>
       </tbody>
    </table>
    </div>