<form class="form-horizontal" [formGroup]="signupForm" (ngSubmit)="onFormSubmit()">

    <legend>
        <h2> <b class="registrationHeading"> Students Registration Form</b></h2>
    </legend>
    <br>

    <div class="form-group">
        <div class="col-md-4"></div>
        <div class="col-md-4 inputGroupContainer">
            <label class="control-label">First Name</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="first_name" placeholder="First Name" class="form-control" type="text" id="inputFirstName"
                    formControlName="firstName">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Last Name</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="last_name" placeholder="Last Name" class="form-control" type="text" id="inputLastName"
                    formControlName="lastName">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4"><br></div>
        <div class="col-md-2"><br>
            <button class="btn btn-primary m-2" type="submit" [disabled]="!signupForm.valid">Add</button>
        </div>
    </div>
</form>